


@font-face {
    font-family: lexend-bold;
    src: url(../static/Lexend-Bold.ttf);
  }
  @font-face {
    font-family: lexend-regular;
    src: url(../static/Lexend-Regular.ttf);
  }
  @font-face {
    font-family: lexend-medium;
    src: url(../static/Lexend-Medium.ttf);
  }
  @font-face {
    font-family: lexend-light;
    src: url(../static/Lexend-Light.ttf);
  }
  @font-face {
    font-family: lexend-semibold;
    src: url(../static/Lexend-SemiBold.ttf);
  }


  input.form-control:focus
  {
    box-shadow: none
  }



header .navbar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
header .navbar-brand img{
    height: 30px;
}
header nav ul{
    margin-left: 50px;
}

input.form-control{
   
    border: none;
    color: #484848;
    width: 450px;
    font-family: lexend-light;
   
}
header nav .btn{
    border: 2px solid #567DF4;
    border-color: solid #567DF4;
    color: #567DF4;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px !important;
    font-family:  lexend-medium ;
}
/* header nav .btn:hover{
    background-color: #567DF4;
    color: #FFF;
    border: none;
} */
header nav .btn:focus{
    box-shadow: none !important;
   border: none !important;
   background-color: #567DF4 !important;
   color: #FFF;
}
header nav .bell{
    width: 30px;
  }
  header nav .bell img{
    width: 100%;
  }
  header nav .avatr{
    width: 30px;
  }
  header nav .avatr img{
    width: 100%;
  }
  
  header nav .holder a{
    font-family: lexend-regular;
    font-size: 16px;
    color: #A7B0B5;
  }


.section1 .col-md-2 .sideitem a:hover{
    color: #567DF4;

    text-decoration: none;
}
.section1 .col-md-2 .sideitem:hover{
    background-color: #DDE5FD;
    border-radius: 10px;
    padding: 10px 15px;   
    color: #567DF4;
}


.section1 .col-md-2 .sideitem a i {
    font-size: 14px;
    margin-right: 10px;
}
.section1 .col-md-2 .sideitem{
    padding: 10px;
    font-size: 14px;
    font-family: lexend-semibold;
    border-radius: 15px;
    color: #22215B;
    padding-right: 0px;
}

.col-md-2 .sidebar .footer .title{
    margin-bottom: 10px;
    color: #7B7F9E;
    font-size: 14px;
    font-family: lexend-regular;
}
.col-md-2 .sidebar{
    justify-content: space-between;
    flex-direction: column; 
    display: flex;
    height: 90vh; 
  }

  

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.col-md-10 h3{
    color: #22215B;
    font-family: lexend-semibold;
}
.table thead{
    color: #7B7F9E;
    font-family: lexend-medium;
    font-size: 14px;
    font-weight: normal;
}
.table tbody td{
    color: #22215B;
    font-family: lexend-regular;
    font-size: 14px;
  
}
.table .sender,
.table .date{
    color: #7B7F9E;
}
.table .status.complt span{
    
    color: #3BB001;
    border: 1px solid #3BB001;
    background-color: transparent;
    border-radius: 25px;
    padding: 8px;
}
.table .status.cancel span{
    color: #F04343;
    border: 1px solid #F04343;
    background-color: transparent;
    border-radius: 25px;
    padding: 8px;

}
.table .status.panding span{
    color: #F0B500;
    border: 1px solid #F0B500;
    background-color: transparent;
    border-radius: 25px;
    padding: 8px;

}
.table .amount{
    font-family: lexend-semibold;
    
}
.table .amount.complt{
    color: #36D96D;
}

.table .amount.cancel{

    color: #FD1D07;
}



.table  .image{
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
.table  .image img{
   width: 100%;
   height: 100%;
}



